{% extends 'introCom/main.html' %}


{% block content %}
<section class="hero-wrap hero-wrap-2" style="background-image: url('/static/introCom/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end">
      <div class="col-md-9 ftco-animate pb-5">
        <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home' %}">Home <i class="fa fa-chevron-right"></i></a></span> <span>About us <i class="fa fa-chevron-right"></i></span></p>
        <h1 class="mb-3 bread">Giới thiệu</h1>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-no-pb ftco-no-pt pt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 order-md-last wrap-about py-md-5 ftco-animate">
        <div class="heading-section pr-md-5">
          <h2 class="mb-4">A2 Company</h2>

          <p>Hơn hai mươi năm trước, A2 đã đi những bước đầu tiên chập chững khi đất nước bước vào thời kỳ đổi mới.</p>
          <p>Và giờ đây, những bước chân ấy đã in dấu lên khắp dải đất hình chữ S, nhưng với một tâm thế, một dáng hình khác – vững chãi và mạnh mẽ hơn bao giờ hết.</p>
          <p>Những thành công ấy là kết quả của định hướng đúng đắn mà chủ tịch hội đồng thành viên Trần Nhật Thành theo đuổi từ những ngày đầu thành lập. Đó là lấy chữ Tín, chữ Tâm làm đầu – lương tâm trong nghề nghiệp và tri thức trong công việc.</p>
      </div>
    </div>
      <div class="col-lg-5  d-md-flex align-items-stretch">
        <div class="img w-100 img-2 mr-md-2 rounded img-thumbnail "style=" background-image: url(/static/introCom/images/top10.jpg);"></div>
        <!-- <div class="img w-100 img-2 img-overlay ml-md-2 p-4" style="background-image: url(/static/introCom/images/bg1.jpg);">
          <div class="request-quote py-5">
            <div class="py-2">
              <span class="subheading">Trở thành thành viên</span>
              <h3>Gửi yêu cầu</h3>
            </div>
            <form action="#" class="request-form ftco-animate">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Họ">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Tên">
              </div>
              <div class="form-group">
                <div class="form-field">
                  <div class="select-wrap">
                    <div class="icon-arr"><span class="ion-ios-arrow-down"></span></div>
                    <select name="" id="" class="form-control">
                      <option value="">Chọn lĩnh vực</option>
                      <option value="">Xây dựng</option>
                      <option value="">Thiết kế Kiến trúc</option>
                      <option value="">Thiết kệ ngoại thất</option>
                      <option value="">Thiết kế nội thất</option>
                      <option value="">Thi công</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Số điện thoại">
              </div>
              <div class="form-group">
                <textarea name="" id="" cols="30" rows="2" class="form-control" placeholder="Tin nhắn"></textarea>
              </div>
              <div class="form-group">
                <input type="submit" value="Request A Quote" class="btn btn-primary py-3 px-4">
              </div>
            </form>
          </div>
        </div> -->
      </div>

  </div>
</section>

<section class="ftco-counter img" id="section-counter">
  <div class="container">
    <div class="row pt-md-5">
      <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
        <div class="block-18 py-md-5 mb-md-4">
          <div class="text text-border d-flex align-items-center">
            <strong class="number" data-number="20">0</strong>
            <span>Số năm <br>Kinh nghiệm</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
        <div class="block-18 py-md-5 mb-md-4">
          <div class="text text-border d-flex align-items-center">
            <strong class="number" data-number="500">0</strong>
            <span>Dự án <br>đã hoàn thành</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
        <div class="block-18 py-md-5 mb-md-4">
          <div class="text text-border d-flex align-items-center">
            <strong class="number" data-number="100">0</strong>
            <span>Chứng chỉ <br>Kiến trúc</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 justify-content-center counter-wrap ftco-animate">
        <div class="block-18 py-md-5 mb-md-4">
          <div class="text d-flex align-items-center">
            <strong class="number" data-number="69">0</strong>
            <span>Khách hàng <br>Hài lòng</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section testimony-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <span class="subheading">Phản hồi</span>
        <h2 class="mb-3" style="color: #162d61; ">Khách hàng hài lòng</h2>
      </div>
    </div>
    <div class="row ftco-animate">
      <div class="col-md-12">
        <div class="carousel-testimony owl-carousel">
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="text">
                <span class="fa fa-quote-left"></span>
                <p class="mb-4">Đội ngũ giám sát, thợ của A2 có chuyên môn và tận tâm. Tôi rất an tâm khi giao “ngôi nhà mơ ước” của mình cho Công ty thiết kế và thi công.</p>
                <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url(/static/introCom/images/person_1.jpg)"></div>
                  <div class="pl-3">
                    <p class="name">Roger Scott</p>
                    <span class="position">Nhân viên văn phòng</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="text">
                <span class="fa fa-quote-left"></span>
                <p class="mb-4">Đội ngũ giám sát, thợ của A2 có chuyên môn và tận tâm. Tôi rất an tâm khi giao “ngôi nhà mơ ước” của mình cho Công ty thiết kế và thi công.</p>
                <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url(/static/introCom/images/person_2.jpg)"></div>
                  <div class="pl-3">
                    <p class="name">Roger Scott</p>
                    <span class="position">Marketing Manager</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="text">
                <span class="fa fa-quote-left"></span>
                <p class="mb-4">Đội ngũ giám sát, thợ của A2 có chuyên môn và tận tâm. Tôi rất an tâm khi giao “ngôi nhà mơ ước” của mình cho Công ty thiết kế và thi công.</p>
                <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url(/static/introCom/images/person_3.jpg)"></div>
                  <div class="pl-3">
                    <p class="name">Roger Scott</p>
                    <span class="position">Nhân viên văn phòng</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="text">
                <span class="fa fa-quote-left"></span>
                <p class="mb-4">Đội ngũ giám sát, thợ của A2 có chuyên môn và tận tâm. Tôi rất an tâm khi giao “ngôi nhà mơ ước” của mình cho Công ty thiết kế và thi công.</p>
                <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url(/static/introCom/images/person_1.jpg)"></div>
                  <div class="pl-3">
                    <p class="name">Roger Scott</p>
                    <span class="position">Nhân viên văn phòng</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap py-4">
              <div class="text">
                <span class="fa fa-quote-left"></span>
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <div class="d-flex align-items-center">
                  <div class="user-img" style="background-image: url(/static/introCom/images/person_2.jpg)"></div>
                  <div class="pl-3">
                    <p class="name">Roger Scott</p>
                    <span class="position">Marketing Manager</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <span class="subheading">Giá cả</span>
        <h2 style="color: #162d61; ">Giá &amp; Hạng mục</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 ftco-animate">
        <div class="block-7">
          <div class="img" style="background-image: url(/static/introCom/images/work-1.jpg);"></div>
          <div class="p-4">
            <ul class="pricing-text mb-2">
              <li><span class="fa fa-check-circle mr-2 text-uppercase font-weight-bold"> Thiết kế nhà phố</span></li>
              <li><span class="fa fa-check-circle mr-2"></span>Gói cơ bản</li>
              <li><span class="fa fa-check-circle mr-2"></span>Gói tiêu chuẩn</li>
              <li><span class="fa fa-check-circle mr-2"></span>Gói cao cấp</li>
            </ul>
          </div>
          <div class="d-lg-flex align-items-center w-100 bg-light py-2 px-4">
            <span class="price"><span class="number">80.000-120.000 đ/m2</span> <sub></sub></span>
            <p class="w-100 mb-0">
              <a  class="btn btn-outline-primary d-block px-1 py-1" style="font-size: 20px;" href="#">Chọn gói</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 ftco-animate">
        <div class="block-7">
          <div class="img" style="background-image: url(/static/introCom/images/work-2.jpg);"></div>
          <div class="p-4">
            <ul class="pricing-text mb-2">
              <li><span class="fa fa-check-circle mr-2 text-uppercase font-weight-bold"> Sửa chữa nhà</span></li>
              <li><span class="fa fa-check-circle mr-2"></span>Công tác phá dỡ</li>
              <li><span class="fa fa-check-circle mr-2"></span>Công tác xây tô, ốp lát</li>
              <li><span class="fa fa-check-circle mr-2"></span>Thi công trần nhà</li>
            </ul>
          </div>
          <div class="d-lg-flex align-items-center w-100 bg-light py-2 px-4">
            <span class="price"><span class="number">---</span> <sub></sub></span>
            <p class="w-100 mb-0">
              <a  class="btn btn-outline-primary d-block px-1 py-1" style="font-size: 20px;" href="#">Chọn gói</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 ftco-animate">
        <div class="block-7">
          <div class="img" style="background-image: url(/static/introCom/images/work-3.jpg);"></div>
          <div class="p-4">
            <ul class="pricing-text mb-2">
              <li><span class="fa fa-check-circle mr-2 text-uppercase font-weight-bold"> Tư vấn giám sát nhà phố</span></li>
              <li><span class="fa fa-check-circle mr-2"></span>Gói TVGS bán thời gian 1</li>
              <li><span class="fa fa-check-circle mr-2"></span>Gói TVGS bán thời gian 1</li>
              <li><span class="fa fa-check-circle mr-2"></span>Gói TVGS bán toàn thời gian</li>
            </ul>
          </div>
          <div class="d-lg-flex align-items-center w-100 bg-light py-2 px-4">
            <span class="price"><span class="number">6-20 Triệu đ/m2</span> <sub></sub></span>
            <p class="w-100 mb-0">
              <a  class="btn btn-outline-primary d-block px-1 py-1" style="font-size: 20px;" href="#">Chọn gói</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

    
    <!-- <section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_2.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end">
          <div class="col-md-9 ftco-animate pb-5">
          	<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>About us <i class="fa fa-chevron-right"></i></span></p>
            <h1 class="mb-3 bread">About Us</h1>
          </div>
        </div>
      </div>
    </section> -->
    


    
