<footer class="ftco-footer ftco-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">A2 Company</h2>
            <p>Chúng tôi là công ty tiên phong trong lĩnh vực thiết kế thi công nhà ở chuyên nghiệp tại Quảng Bình</p>
            <ul class="ftco-footer-social list-unstyled mt-5">
              <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4 ml-md-4">
            <h2 class="ftco-heading-2">Công ty</h2>
            <ul class="list-unstyled">
              <li><a href="{% url 'project' %}"><span class="fa fa-chevron-right mr-2"></span>Các dự án</a></li>
              <li><a href="{% url 'team' %}"><span class="fa fa-chevron-right mr-2"></span>Team</a></li>
              <li><a href="{% url 'about' %}"><span class="fa fa-chevron-right mr-2"></span>Giới thiệu</a></li>
              <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>FAQs</a></li>
            </ul>
          </div>
        </div>

        <!-- <div class="col-md">
          <div class="ftco-footer-widget mb-4 ml-md-4">
            <h2 class="ftco-heading-2">About Us</h2>
            <ul class="list-unstyled">
              <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Our Story</a></li>
              <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Meet the team</a></li>
              <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Careers</a></li>
            </ul>
          </div>
        </div> -->
        <div class="col-md">
           <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Liên kết</h2>
            <ul class="list-unstyled">
              <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Đối tác</a></li>
              <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Thông tin tuyển dụng</a></li>
              <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Mời thầu</a></li>
              <li><a href="{% url 'contact' %}"><span class="fa fa-chevron-right mr-2"></span>Liên hệ</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Trụ sở chính</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li><span class="icon fa fa-map"></span><span class="text">30 Mai Lượng, Nam Lý, Đồng Hới, Quảng Bình</span></li>
                  <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">0966 632 339</span></a></li>
                  <li><a href="#"><span class="icon fa fa-envelope pr-4"></span><span class="text">info@gmail.com</span></a></li>
                </ul>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
  
          <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> <a href="https://facebook.com/ak2970">Tran Thu</a> | All rights reserved
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        </div>
      </div>
    </div>
  </footer>

  