{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container-fluid">
      <a href="{% url 'home' %}" title="" rel="home">
        <img src="{% static 'introCom/images/a2.png' %}" class="navbar-brand" alt="Công ty TNHH Kiến trúc xây dựng A2" width="100" height="50"></a>    
      <a class="navbar-brand" href="index.html"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a href="{% url 'home' %}" class="nav-link">Trang chủ</a></li>
          <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">Giới thiệu</a></li>
          <li class="nav-item"><a href="{% url 'team' %}" class="nav-link">Team</a></li>
          <li class="nav-item"><a href="{% url 'field' %}" class="nav-link">Lĩnh vực</a></li>
          <li class="nav-item"><a href="{% url 'project' %}" class="nav-link">Dự án</a></li>
          <li class="nav-item"><a href="" class="nav-link">Blog</a></li>
          <li class="nav-item"><a href="{% url 'contact' %}" class="nav-link">Liên hệ</a></li>
        </ul>
      </div>
    </div>
  </nav>
<!-- END nav -->

